$whitesmoke : #f3f7fa;
$blue: #0076FF;
$dark: #4c4b5c;
$orange: #feaf17;
$lightGray: #cfd4da;
$darkGray: #707EA9;
$textLeftSidebar: #707EA9;
$colHeaderActive: #eceff6;
$colActive: #f5f6fa;
$colActiveBold: #eceef6;
$rowHover: #eef7ff;
$textGray: #C3CCE4;
$orange-1: #FF7041;
$textColor: #4c4b5c;
$textGray: #C3CCE4;
$border-gray: rgba(195,204,228,0.4);
$green: #52c41a;
$red: #ff4d4f;
